@import '../scss/mixins';

.outer-home {
  height: 100%;
  padding-top: 5rem;
  background-color: #3b3b3c;
  .my-name {
    @include breakpoint(mobile) {
      margin-top: 2rem;
    }
  }
  .about-me {
    max-width: 70%;
    text-align: justify;
    @include breakpoint(mobile) {
      max-width: 100%;
      margin-top: 2rem;
      text-align: justify;
    }
  }
}

.list-education {
  color: white;
  position: relative;
  margin-bottom: 5rem;
  @include breakpoint(mobile) {
    padding-left: 0;
  }
  .inner-list {
    padding-left: 7rem;
    list-style: none;
    position: relative;
    margin-bottom: 2rem;
    @include breakpoint(mobile) {
      padding-left: 0rem;
    }
    &:first-of-type{
      &::before {
        content: unset;
      }
    }
    &::before {
      content: "";
      border: 1px solid red;
      position: absolute;
      left: 9px;
      height: 100%;
      top: -6.5rem;
      @include breakpoint(mobile) {
        content: unset;
      }
    }
    &::after {
      content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
      position: absolute;
      left: 0;
      top: 13px;
      @include breakpoint(mobile) {
        content: unset;
      }
    }
    .title-education {
      font-size: 30px;
      @include breakpoint(mobile) {
        font-size: 20px;
      }
    }
    .start-date {
      font-size: 14px;
    }
    .major {
      font-size: 14px;
    }
  }
}