@import '../scss/mixins';
.outer-job {
  background-color: #fff;
  padding: 5rem 0;
}

.list-job {
  color: #080d55;
  position: relative;
  margin-bottom: 5rem;
  .inner-list {
    padding-left: 7rem;
    list-style: none;
    position: relative;
    margin-bottom: 2rem;
    .img-company {
      @include breakpoint(mobile) {
        max-width: 240px;
      }
    }
    &:first-of-type{
      &::before {
        content: unset;
      }
    }
    &::before {
      content: "";
      border: 1px solid red;
      position: absolute;
      left: 9px;
      height: 100%;
      top: -8rem;
      @include breakpoint(mobile) {
        height: 95%;
        top: -10rem;
      }
    }
    &::after {
      content: url('http://upload.wikimedia.org/wikipedia/commons/thumb/3/30/RedDisc.svg/20px-RedDisc.svg.png');
      position: absolute;
      left: 0;
      top: 13px;
    }
    .title-job {
      font-size: 30px;
      @include breakpoint(mobile) {
        font-size: 20px;
      }
    }
    .start-date {
      font-size: 14px;
    }
    .major {
      font-size: 14px;
    }
  }
}